.container {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3px;
}
.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 5px;
    outline-color: #f6d466;
    padding: 5px;
}
.input[readOnly] {
    background: #faf5e9;
}