.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    /*background: #f6d466;*/
}
.text {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    color: rgba(0,0,0,0.15);
}
