.one {
    grid-column: 9 / 13;
    grid-row: 1 / 7;
}
.two {
    grid-column: 1 / 9;
    grid-row: 1 / 4;
}
.three {
    grid-column: 1 / 9;
    grid-row: 4 / 7;
}
.four {
    grid-column: 1 / 9;
    grid-row: 7 / 10;
}
