.container {
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    width: 300px;
}
.icon {
    background: white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    cursor: pointer;
}
.icon:hover {
    box-shadow: none;
}
.icon:active {
    opacity: 0.5;
}
.input {
    margin-left: 10px;
    border: none;
    background: transparent;
    width: 80%;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
}