.table {
    width: 100%;
    overflow-y: auto;
    position: relative;
    border-collapse: collapse;
}
.header {
    position: sticky;
    top: 0;
    text-align: left;
    height: 30px;
    background: #8d8d8d;
}
.field {
    padding: 5px;
    color: white;
}
.body {
    padding: 10px;
}